<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit comment</title>
    <script src="https://kit.fontawesome.com/3387f41f9e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div class="header">
        <h3>Ändra to-do: <i><%= todoToUpdate.title%></i> </h3>
    </div>

    
    <div class="listBody">
        <form class="editForm" method="POST"> 
            <div class="commentContainer">
                <div class="commentContainerInner">
                    <div class="div1_inner">
                        <input type="text" name="newTitle" value="<%= todoToUpdate.title%>">
                    </div>
                    <div class="deleteButton">
                        <i class="updateButton far fa-edit inactive"></i>
                        <i class="updateButton far fa-check-square inactive"></i>
                    </div>
                </div>
                <button type="submit" href="update/<%= todoToUpdate._id%>">Spara</button>
            </div>
        </form>
    </div>
    
    
    
</body>
</html>